* {
	margin: 0;
	padding: 0;
}
body {
	background: coral;
	font-size: 16px;
}
h1 {
	text-align: center;
	color: #fff;
}
.container {
	width: 50%;
	background: #9ad1d4;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
	line-height: 25px;
	border-radius: 10px;
}

header {
	text-align: center;
	border-bottom: white dashed 1px;
}

header h1 {
	margin: 0;
	padding: 0;
}

header p {
	padding: 0;
	margin-top: 10px;
	color: #a05c7b;
}

section {
	min-height: 400px;
}

footer {
	text-align: center;
}

input[type='submit'] {
	background: #a05c7b;
	border: 0;
	color: #fff;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

#results h3 {
	background: #fff;
	padding: 10px;
	margin: 10px 0;
}

#results span {
	color: green;
	font-weight: bold;
	font-size: 1rem;
}
